<p id="notice"><%= notice %></p>

<p>
  <font style="text-transform: uppercase;">
  <strong><%= @feed.titulo %></strong>
  <br>_________________________________________________________</br>
</p>

<p>
  <font style="text-transform: none;">
  <strong><%= @feed.bajada %></strong>
  <br>_________________________________________________________________________________________________________________________________________________________</br>
</p>

<p>
  <%= @feed.cuerpo %>
  <br>_________________________________________________________________________________________________________________________________________________________</br>
</p>

<p>
  <strong>Comentarios</strong>
  <tbody>
    <% @comm.each do |com| %>
      <br>
        <br><u><strong><%= com.nombre %></strong></u></br>
        <%= com.contenido %>
      </br>
    <% end %>
  </tbody>
  <!--<%= link_to 'New Comment', new_comment_path(@feed) %>-->
  <!--<%= link_to 'New Comment', {:controller => 'comments', :action => 'new', :id => @feed.id} %>-->
<br>
  <%= link_to 'Deja tu comentario acá', {:controller => 'comments', :action => 'new', :id => @feed} %>
</br>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
